---
import ArticleAuthor from '../../components/blog/ArticleAuthor.astro';
import BlogHeader from '../../components/blog/BlogHeader.astro';
import PostGrid from '../../components/blog/grid/PostGrid.astro';
import Button from '../../components/common/Button.astro';
import FaqItem from '../../components/FaqItem.astro';
import BlocksContentRenderer from '../../components/react/BlocksContentRenderer';
import Layout from '../../Layout.astro';
import { getImageUrl } from '../../lib/helpers/image';
import { extractPlainText } from '../../lib/helpers/text-extractor';
import { StrapiPostEndpoints } from '../../lib/strapi';

export const prerender = false;

const { postSlug, postCategorySlug } = Astro.params;

if (!postSlug || !postCategorySlug) {
  return Astro.redirect('/404');
}

const [post, categoryPosts] = await Promise.all([
  StrapiPostEndpoints.getPostBySlug(Astro.locals, postSlug),
  StrapiPostEndpoints.getCategoryPosts(Astro.locals, postCategorySlug, 1, 12),
]);

if (!post) {
  return Astro.redirect('/404');
}

const { title, introduction, content, faq, picture } = post;

const pageTitle = `${title} - Blog - Rodzina bez długów`;
const description = extractPlainText(introduction, 160);
const pictureUrl = picture ? getImageUrl(Astro.locals, picture) : undefined;
---

<Layout title={pageTitle} description={description} ogImage={pictureUrl} ogType="article">
  <div>
    <BlogHeader title={title} />
    <div class="text-slate-800 lg:my-12">
      <div class="max-w-4xl mx-auto">
        <div class="p-4 space-y-12">
          <section>
            <BlocksContentRenderer content={introduction} />
          </section>
          <section>
            <h2 class="h2 text-2xl text-rbd-primary font-bold mt-4 mb-2">Spis treści</h2>
            <ul class="list-decimal ml-6 mb-4">
              {
                content.map((section, index) => (
                  <li class="text-blue-500 hover:text-blue-800">
                    <a href={`#${String(index)}`}>{section.title}</a>
                  </li>
                ))
              }
            </ul>
          </section>
          <section>
            {
              content.map((section, index) => (
                <div id={String(index)}>
                  {section.title && (
                    <h2 class="h2 text-2xl text-rbd-primary font-bold mt-4 mb-2">
                      {section.title}
                    </h2>
                  )}
                  {section.content && <BlocksContentRenderer content={section.content} />}
                  {section.picture && (
                    <img
                      src={getImageUrl(Astro.locals, section.picture)}
                      alt={section.picture.alternativeText}
                      loading="lazy"
                      class="rounded-lg aspect-video object-cover"
                    />
                  )}
                </div>
              ))
            }
          </section>
        </div>
      </div>
      {
        faq.length > 0 && (
          <section class="p-4 bg-slate-50">
            <div class="max-w-4xl mx-auto">
              <h2 class="h2 text-2xl text-rbd-primary font-bold mt-8 mb-6">
                Najczęściej zadawane pytania (FAQ)
              </h2>
              <ul class="space-y-4 mb-6">
                {faq.map((f) => (
                  <li>
                    <FaqItem question={f.question}>
                      <BlocksContentRenderer content={f.answer} />
                    </FaqItem>
                  </li>
                ))}
              </ul>
            </div>
          </section>
        )
      }
      <section class="p-4">
        <div class="max-w-4xl mx-auto">
          <div class="flex flex-wrap gap-4 items-center justify-between">
            <ArticleAuthor />
            <div>
              <a href="/#formularz">
                <Button>Sprawdź bezpłatnie, czy możemy Ci pomóc</Button>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="p-4">
        <div class="max-w-4xl mx-auto">
          <h2 class="h2 text-2xl text-rbd-primary font-bold mt-8 mb-6">
            Artykuły z kategorii {post.category.name}
          </h2>
          <div class="max-w-4xl mx-auto">
            <PostGrid posts={categoryPosts.data} />
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>
